body
{
  text-align: center;
  font-family:serif;
  font-size: 20px;
  color:#40514E;
  margin:0 auto;
}

h1
{
  font-size:450%;
  font-family: 'Sacramento',cursive;
  color:#66BFBF;
}
a{
  margin: 20px;
  text-decoration: none;
}
h2
{
  font-size: 2rem;
  font-family:'Montserrat',sans-serif;
  color:#66BFBF;
  font-style: normal;

}

h3
{
    font-family:'Montserrat',sans-serif;
    color:#11999E;
}
hr{
  border:dotted 6px;
  border-bottom: none;
  color:#800080;
  margin-top: 50px;
  margin-bottom: 50px;
  width:5%;
}
.space{
  margin-top:50px;
}
.top_container{
  background-color:#CDFCF6;
  padding:-40px;
}
.bottom-container
{
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:#66BFBF;
}

.skills-row
{
   margin-top: 20px;
   margin-bottom: 20px;
  line-height: 2;
}

.h3
{
text-align: left;
position:relative;
left:200px;
color: black;
}

.h1position
{
  position:relative;
  top:50px;
}

.h2position
{
  line-height:2;
}

.present{
  border: 3px solid;
  border-left:0;
  border-top: 0;
  border-right:0px;
  display:inline-block;
}

.top_cloud
{
  position:relative;
  top:50px;
  left:220px;
}

.bottom_cloud{
  position:absolute;
  bottom:160px;
  left:220px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
